html {
  font-family: "Helvetica Neue", sans-serif;
  width: 100%;
  color: black;
  text-align: center;
}
#title {
  font-size:36px!important;
  color:grey!important;
  letter-spacing:4px;
}
#CAPTCHAtable {
  border:2px solid black;
}

.captcha-popup-overlay {
  /*Hides pop-up when there is no "active" class*/
  visibility: hidden;
  position: absolute;
  background-color: #fff;
  margin: 2rem;
  padding: 2rem;
  border-radius: 0.25rem;
  width: 50%;
  max-height: 75%;
  left:20%;
  overflow: auto;
  box-shadow: 0 4px 20px rgba(0,0,0,0.4);
}
.captcha-popup-overlay.active {
  /*displays pop-up when "active" class is present*/
  visibility: visible;
  animation: fadeIn 0.1s ease-in-out forwards;
}
.notice-popup-overlay {
  /*Hides pop-up when there is no "active" class*/
  visibility: hidden;
  /* position: absolute;
  background: #ffffff;
  border: 2px solid #020202;
  width: 50%;
  height: 50%;
  left: 25%; */
  position: absolute;
  background-color: #fff;
  margin: 2rem;
  padding: 2rem;
  border-radius: 0.25rem;
  width: 50%;
  max-height: 75%;
  left:20%;
  overflow: auto;
  box-shadow: 0 4px 20px rgba(0,0,0,0.4);
}
.noticeWindowHeader {
  color:black
}
.noticeWindowContent {
  color: grey
}
.notice-popup-overlay.active {
  /*displays pop-up when "active" class is present*/
  visibility: visible;
  text-align: left;
  animation: fadeIn 0.1s ease-in-out forwards;
}

.notice-popup-content {
  /*Hides pop-up content when there is no "active" class */
  visibility: hidden;
}

.notice-popup-content.active {
  /*Shows pop-up content when "active" class is present */
  visibility: visible;
}
.input-popup-overlay {
   /*Hides pop-up when there is no "active" class*/
   visibility: hidden;
   position: absolute;
   background-color: #fff;
   margin: 2rem;
   padding: 2rem;
   border-radius: 0.25rem;
   width: 50%;
   max-height: 75%;
   left:20%;
   overflow: auto;
   box-shadow: 0 4px 20px rgba(0,0,0,0.4);
}

.input-popup-overlay.active {
  /*displays pop-up when "active" class is present*/
  visibility: visible;
  text-align: center;
  animation: fadeIn 0.1s ease-in-out forwards;
}

.input-popup-content {
  /*Hides pop-up content when there is no "active" class */
  visibility: hidden;
}

.input-popup-content.active {
  /*Shows pop-up content when "active" class is present */
  visibility: visible;
}
.image-popup-overlay {
   /*Hides pop-up when there is no "active" class*/
   visibility: hidden;
   position: absolute;
   background-color: #fff;
   margin: 2rem;
   padding: 2rem;
   border-radius: 0.25rem;
   width: 50%;
   max-height: 75%;
   left:20%;
   overflow: auto;
   box-shadow: 0 4px 20px rgba(0,0,0,0.4);
}

.image-popup-overlay.active {
  /*displays pop-up when "active" class is present*/
  visibility: visible;
  text-align: center;
  animation: fadeIn 0.1s ease-in-out forwards;
}
.image-popup-content {
  /*Hides pop-up content when there is no "active" class */
  visibility: hidden;
}

.rotate-image-popup-content.active {
  /*Shows pop-up content when "active" class is present */
  visibility: visible;
  display:inline-block;
}
.rotate-image-popup-overlay {
  /*Hides pop-up when there is no "active" class*/
   visibility: hidden;
   position: absolute;
   background-color: #fff;
   margin: 2rem;
   padding: 2rem;
   border-radius: 0.25rem;
   width: 50%;
   max-height: 75%;
   left:20%;
   overflow: auto;
   box-shadow: 0 4px 20px rgba(0,0,0,0.4);
}

.rotate-image-popup-overlay.active {
  /*displays pop-up when "active" class is present*/
  visibility: visible;
  text-align: center;
  animation: fadeIn 0.1s ease-in-out forwards;
}
.rotate-image-popup-content {
  /*Hides pop-up content when there is no "active" class */
  visibility: hidden;
}
.rotater {
  max-width:20px;
  max-height:20px;
}
.imagePosition {
  color: red;
  /* animation: rotation 2s infinite linear; */
}
/* @keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
} */

/* Animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.image-popup-content.active {
  /*Shows pop-up content when "active" class is present */
  visibility: visible;
  display:inline-block;
}
.agree-popup-overlay {
  /*Hides pop-up when there is no "active" class*/
  visibility: hidden;
  /* position: absolute;
  background: #ffffff;
  border: 2px solid #020202;
  width: 50%;
  height: 50%;
  left: 25%; */
  position: absolute;
  background-color: #fff;
  margin: 2rem;
  padding: 2rem;
  border-radius: 0.25rem;
  width: 50%;
  max-height: 75%;
  left:20%;
  overflow: auto;
  box-shadow: 0 4px 20px rgba(0,0,0,0.4);
}
.agreeWindowHeader {
  color:black
}
.agreeWindowContent {
  color: grey
}
.agree-popup-overlay.active {
  /*displays pop-up when "active" class is present*/
  visibility: visible;
  text-align: left;
  animation: fadeIn 0.1s ease-in-out forwards;
}

.agree-popup-content {
  /*Hides pop-up content when there is no "active" class */
  visibility: hidden;
}

.agree-popup-content.active {
  /*Shows pop-up content when "active" class is present */
  visibility: visible;
}
button {
  display: inline-block;
  vertical-align: middle;
  border-radius: 30px;
  margin: .20rem;
  font-size: 1rem;
  color: #030303;
  background: #ffffff;
  border: 1px solid #030303;
}
